.storeTitle{
    padding-top: 40px;
}
.storeTitle span{
    padding-left: 30px;
    font-size: 50px;
    color: #405065;
}
ngb-rating{
    color: #fdcc0d;
    font-size: 40px;
    padding-left: 40px;
}

.times 	 { padding: 30px; }

/* checkbox - each time slot */

.time-slot{
    padding:20px;
}
.time-slot div	 { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
	transition:0.3s ease all;
  -moz-transition:0.3s ease all;
  -webkit-transition:0.3s ease all;
}

.time-slot .bo { 
  background:#f2dede; 
  cursor:not-allowed;
  animation:flashBooked 0.5s ease; 
  -moz-animation:flashBooked 0.5s ease; 
  -webkit-animation:flashBooked 0.5s ease; 
}

.time-slot .av{ 
  background:#6AB074; 
  animation:flashAvailable 0.5s ease; 
  -moz-animation:flashAvailable 0.5s ease; 
  -webkit-animation:flashAvailable 0.5s ease; 
}

@keyframes flashBooked {
  0%, 100% { background:#f2dede; transform:scale(1); }
  50% 		{ background:#F99090; transform:scale(1.5); }
}
@-moz-keyframes flashBooked {
  0%, 100% { background:#f2dede; transform:scale(1); }
  50% 		{ background:#F99090; transform:scale(1.5); }
}
@-webkit-keyframes flashBooked {
  0%, 100% { background:#f2dede; transform:scale(1); }
  50% 		{ background:#F99090; transform:scale(1.5); }
}

@keyframes flashAvailable {
  0%, 100% { background:#6AB074; transform:scale(1); }
  50% 		{ background:rgb(119, 218, 78); transform:scale(1.5); }
}
@-moz-keyframes flashAvailable {
  0%, 100% { background:#6AB074; transform:scale(1); }
  50% 		{ background:rgb(119, 218, 78); transform:scale(1.5); }
}
@-webkit-keyframes flashAvailable {
  0%, 100% { background:#6AB074; transform:scale(1); }
  50% 		{ background:rgb(119, 218, 78); transform:scale(1.5); }
}