<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-store">
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="&#61442;  Start searching for a store nearby"
        />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Store Name</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let store of stores | filter:searchText">
            <td>{{store.id}}</td>
            <td>{{store.name}}</td>
            <td>{{store.rating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
