<nav class ="navbar navbar-dark bg-dark ustify-content-between"><a class="navbar-brand"> <img width="70" height="60" class="d-inline-block align-top" src="../../assets/images/bookmyslot_logo2.png" alt=""></a></nav>
<div class="logindiv">
  <div>
  <h2>Login</h2>
  <form (submit)="loginUser($event)">
    <div style="margin: 0 auto;">
    <input class ="form-control" id="username" type="text" placeholder = "Username"/> <br>
    <input class ="form-control" id="password" type="password" placeholder = "Password"/> <br>
    <input class = "btn btn-success" id="submit" type="submit" value="Submit"/>
  </div>
  </form>
  <div class="or">or</div>
  <h2>Sign Up</h2>
  <form (submit)="createUser($event)">
    <div style="margin: 0 auto;">
    <input class ="form-control" id="usernameS" type="text" placeholder = "Username"/> <br>
    <input class ="form-control" id="passwordS" type="password" placeholder = "Password"/> <br>
    <input class = "btn btn-success" id="submitS" type="submit" value="Submit"/>
  </div>
  </form>
</div>

</div>


